@charset "UTF-8";
/* 
*  Author Kartik Menon
*  Date: April 2014
*  Dartmouth Quarterly of East Asian Studies
*  All CSS
*/

body {
	background-color: #CCC;
	padding: 0;
	margin: 0;
	height: 100%;
	background:#FFF;
	
}

.headerimg {
	padding: 0;
}


.headerimg ul li {
	list-style-type: none;
	display: inline;
}

.navbar {
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 15x;
	background: #FFF;
	text-align: left;
	font-family: "Adobe Garamond Pro", Baskerville, Didot, "Helvetica Neue Thin", Osaka;
}

.navbar a {
	font-size: 15px;
	margin: 8px;
	height: 20px;
	padding: 12px 10px;
	color: #000;
	text-decoration: none;
}
	
.navbar a:hover {
	background-color: #093;
}

.navbar ul li {
	list-style-type: none;
	display: inline;
}

.navbar li:before {
	content: " | ";
}

.navbar li:first-child:before {
	content: none;
}

a img {
	border: none;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
	background: #FFF;
	position: relative;
	
}

.center {
	margin-left: auto;
	margin-right: auto;
}



.roundrect {
	border-radius: 7px;
}

.staff {
	font-size: 15px;
	font-family: "Adobe Garamond Pro", Baskerville, Didot, "Helvetica Neue Thin", Osaka;
	padding-left: 100px;
	padding-right: 100px;
}